body{
    background-image: url(https://images.unsplash.com/photo-1518976024611-28bf4b48222e);
    background-size: cover;
}
form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.task-input{
    box-shadow:  2px 2px rgb(0, 0, 0,0.2);
}
input {
    padding: 10px;
    width: 40%;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 1rem;
}

button {
    padding: 7px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #0056b3;
}